<header role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="site-header">
      <div class="site-brand">
        <a href="{{ "/" | relative_url }}"> <img src="/assets/logo.png" /></a>
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
      <div class="nav-container">
        <nav class="navbar">
          <button class="icon-button menu-icon">
              <img class="svg-icon" src="/assets/icons/bars.svg" />
          </button>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </nav>
        <div class="drawer">
          <div class="drawer-header">
            <h3>Menu</h3>
            <button class="icon-button close-menu-icon">
                <img class="svg-icon" src="/assets/icons/window-close-solid.svg" />
            </button>
          </div>

          <nav>
            <a class="page-link" href="/">Home</a>
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
          </nav>
        </div>
      <div>
    </div>
  </div>
</header>

<script type="text/javascript">
  const ITEM_INDEX = 0;
  const NAV_CONTAINER_CLASS_NAME = 'nav-container';
  const MENU_ICON_CLASS_NAME = 'menu-icon';
  const CLOSE_MENU_ICON_CLASS_NAME = 'close-menu-icon';
  const TOGGLE_CLASS_NAME = 'show-drawer';
  const DRAWER_PAGE_LINKS_QUERY = '.drawer .page-link';

  const navContainer = document.getElementsByClassName(NAV_CONTAINER_CLASS_NAME)[ITEM_INDEX]
  const menuIcon = document.getElementsByClassName(MENU_ICON_CLASS_NAME)[ITEM_INDEX]
  const closeMenuIcon = document.getElementsByClassName(CLOSE_MENU_ICON_CLASS_NAME)[ITEM_INDEX]
  const pageLinks = document.querySelectorAll(DRAWER_PAGE_LINKS_QUERY);

  menuIcon.addEventListener('click', toggleDrawer)
  closeMenuIcon.addEventListener('click', toggleDrawer)

  pageLinks.forEach((link) => link.addEventListener('click', toggleDrawer))

  function toggleDrawer() {
    if (!navContainer) return;

    navContainer.classList.toggle(TOGGLE_CLASS_NAME);
  }
</script>


<!--
{%- if page_paths -%}

{%- endif -%}
 -->
