@use "sass:color";
@use "../theme/variables" as *;
@use "../theme/base" as *;

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-sm;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-sm;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  p, ul, ol, dl, blockquote, pre, figure {
    margin-bottom: $spacing-md;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
