@use "sass:color";
@use "../theme/variables" as *;
@use "../theme/base" as *;

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-sm 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-sm * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-sm * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-sm * 0.5;
  padding-left: $spacing-sm * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-sm} / 2));
  width:         calc(35% - (#{$spacing-sm} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-sm} / 2));
  width:         calc(20% - (#{$spacing-sm} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-sm} / 2));
  width:         calc(45% - (#{$spacing-sm} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-sm} / 2));
    width:         calc(50% - (#{$spacing-sm} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-sm} / 2));
    width:         calc(100% - (#{$spacing-sm} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-sm} / 2));
    width:         calc(100% - (#{$spacing-sm} / 2));
  }
}
